<!DOCTYPE html>
<html>
<head>
	<title>一个博客</title>
	<meta charset="utf-8"/>
    <link href="../Content/stylesheet/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/stylesheet/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheet/buttons.css">
	<link rel="stylesheet" type="text/css" href="/stylesheet/main.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">一个博客</a>	
		</div>
		<div class="navbar-collapse collapse navbar-left">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">首页</a></li>
				<li><a href="#">归档</a></li>
			</ul>
			<form class="navbar-form navbar-left">
				<div class="form-group">
				    <input type="text" class="form-control" placeholder="博文搜索">
				</div>
				<button type="submit" class="btn btn-default">搜索</button>
			</form>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Yong</a></li>
				<li><a href="#">注销</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<article class="article-item">
				<h1><a class="article-title" href="/detail.html">Getting Started with ASP.NET MVC 5</a></h1>
				<p class="article-meta">
					由 <a href="#">Rick Anderson</a> 发自 2015-03-26 19:32
				</p>
				<div class="article-body">
					<h4>Getting Started</h4>
					<p>Start by installing and running Visual Studio Express 2013 for Web or Visual Studio 2013.</p>
					<p>Visual Studio is an IDE, or integrated development environment. Just like you use Microsoft Word to write documents, you'll use an IDE to create applications. In Visual Studio there's a toolbar along the top showing various options available to you. There's also a menu that provides another way to perform tasks in the IDE. (For example, instead of selecting New Project from the Start page, you can use the menu and select File > New Project.)</p>
				</div>
				<!-- <span class="article-more">
					<a href="/detail.html">more >></a>
				</span> -->
				<a class="button button-raised button-inverse" href="/detail.html">Read More</a>
			</article>
			<article class="article-item">
				<h1><a class="article-title" href="/detail.html">Calling Web API from a Windows Phone 8 Application</a></h1>
				<p class="article-meta">
					由 <a href="#">Robert McMurray</a> 发自 2015-03-02 09:22
				</p>
				<div class="article-body">
					<p>In this tutorial, you will learn how to create a complete end-to-end scenario consisting of an ASP.NET Web API application that provides a catalog of books to a Windows Phone 8 application.</p>
					<h4>Overview</h4>
					<p>RESTful services like ASP.NET Web API simplify the creation of HTTP-based applications for developers by abstracting the architecture for server-side and client-side applications. Instead of creating a proprietary socket-based protocol for communication, Web API developers simply need to publish the requisite HTTP methods for their application, (for example: GET, POST, PUT, DELETE), and client application developers only need to consume the HTTP methods that are necessary for their application.</p>
				</div>
				<!-- <span class="article-more">
					<a href="/detail.html">more >></a>
				</span> -->
				<a class="button button-raised button-inverse" href="/detail.html">Read More</a>
			</article>
			<article class="article-item">
				<h1><a class="article-title" href="/detail.html">Add push notifications to your Mobile Services app</a></h1>
				<p class="article-meta">
					由 <a href="#">ggailey777</a> 发自 2015-02-09 14:56
				</p>
				<div class="article-body">
					<h4>Overview</h4>
					<p>This topic shows you how to use Azure Mobile Services with a .NET backend to send push notifications to a universal Windows app. In this tutorial you enable push notifications using Azure Notification Hubs in a universal Windows app project. When complete, your mobile service will send a push notification from the .NET backend to all registered Windows Store and Windows Phone Store apps each time a record is inserted in the TodoList table. The notification hub that you create is free with your mobile service, can be managed independent of the mobile service, and can be used by other applications and services.</p>
				</div>
				<!-- <span class="article-more">
					<a href="/detail.html">more >></a>
				</span> -->
				<a class="button button-raised button-inverse" href="/detail.html">Read More</a>
			</article>
		</div>
		<div class="col-md-3">
			<div class="sidebar-notice">
				<h4>站点通知</h4>
				<p>博客刚刚建站，欢迎跟朋友们推荐我们哟~</p>
			</div>
			<div class="sidebar-notice" style="margin-top: 15px;">
				<h4>热门推荐</h4>
				<ol>
					<li><a href="#">.NET MVC 入门篇 01</a></li>
					<li><a href="#">CSS3 从入门到精通</a></li>
				</ol>
			</div>
		</div>
	</div>
</div>
<footer class="footer">
	UI Design&Develop by Yong
</footer>
<script type="text/javascript" src="/javascript/jquery.min.js"></script>
<script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
</body>
</html>