<!DOCTYPE html>
<html>
<head>
	<title>一个博客</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="./stylesheet/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./stylesheet/buttons.css">
	<link rel="stylesheet" type="text/css" href="./stylesheet/intro.css">
</head>
<body>
<div class="container wrapper">
	<h2 class="title">
		一个博客
	</h2>
	<p class="slogan">
		万千博客，一个就够了
	</p>
	<!-- <a class="btn btn-success btn-lg button-size" href="/">立即试用</a>
 -->	<a class="button button-glow button-action button-size" href="/">立即试用</a>
</div>
</body>
</html>