<!DOCTYPE html>
<html>
<head>
	<title>一个博客</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="./stylesheet/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./stylesheet/login.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">一个博客</a>
	</div>
</nav>
<div class="container">
	<form class="form-signin">
		<h2 class="form-signin-heading">登录</h2>
		<label class="sr-only" for="inputEmail">邮箱</label>
		<input class="form-control" id="inputEmail" type="email" placeholder="邮箱" required autofocus></input>
		<label class="sr-only" for="inputPassword"></label>
		<input class="form-control" id="inputPassword" type="password" placeholder="密码" required></input>
		<div class="checkbox">
			<label><input type="checkbox" value="remember">记住我</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
		<div class="register">
			<a href="#">忘记密码</a> 或者 <a href="#">注册账号</a>
		</div>
	</form>
</div>
<script type="text/javascript" src="./javascript/jquery.min.js"></script>
<script type="text/javascript" src="./javascript/bootstrap.min.js"></script>
</body>
</html>