<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<title></title>
<link rel="shortcut icon" href="logo-small.jpg">
<link rel="alternate" type="application/rss+xml" href="http://loftertxt.lofter.com/rss">
<meta name="Keywords" content="www.lofter.com"/>
<meta name="Description" content=""/>

<meta name="color:背景" content="#f2f2f2"/>
<meta name="color:文字" content="#5d5d5d"/>
<meta name="color:链接" content="#bbb"/>
<meta name="color:链接状态" content="#808080"/>
<meta name="color:博客标题" content="#5d5d5d"/>
<meta name="color:个人描述" content="#ddd"/>
<meta name="color:导航链接" content="#5d5d5d"/>
<meta name="color:导航链接状态" content="#1e1e1e"/>
<meta name="color:主题" content="#00A99D"/>

<meta name="group1:" content="正文字号12px#正文字号12px|正文字号14px|正文字号16px"/>
<meta name="group2:" content="博客标题字号16px#博客标题字号16px|博客标题字号20px|博客标题字号24px"/>

<
    <link href="../Content/stylesheet/css1.css" rel="stylesheet" />
<style>
/* 
 * 自定义主题
 */
/* 背景颜色 */
body{background:#f2f2f2;}
/* 文字颜色 */
body{color:#5d5d5d;}
/* 链接颜色 */
a,.m-cmthot a:hover{color:#bbb;}
/* 链接状态颜色 */
a:hover{color:#808080;}
/* 博客标题颜色 */
.m-ttl a,.m-ttl a:hover{color:#5d5d5d;}
/* 个人描述颜色 */
.m-about,.m-cprt,.m-cprt a,.m-cprt a:hover{color:#ddd;}
/* 导航链接颜色 */
.m-sch .txt,.m-nav a{color:#5d5d5d;}
.m-sch .form{border-color:#5d5d5d;}
/* 导航链接状态颜色 */
.m-nav a:hover{color:#1e1e1e;}
/* 主题颜色 */
.m-post .ttl a,.m-detail .ttl a{color:#00A99D;}

/* 正文字号12px 默认 */



/* 博客标题字号16px 默认 */


</style>
<!--[if gte IE 8]>
<style>
/* 以下代码只对有环绕需求的内容使用。副作用：导致ul和ol的每一个li只有一行 */
.m-post-leftimg .text ul,
.m-post-leftimg .text ol,
.m-detail-leftimg .text ul,
.m-detail-leftimg .text ol{padding-left:0;}
.m-post-leftimg .text ul li,
.m-detail-leftimg .text ul li{list-style:disc inside none;}
.m-post-leftimg .text ol li,
.m-detail-leftimg .text ol li{list-style:decimal inside none;}
.m-post-leftimg .text ul li p,
.m-post-leftimg .text ol li p,
.m-detail-leftimg .text ul li p,
.m-detail-leftimg .text ol li p{vertical-align:bottom;*vertical-align:baseline;display:-moz-inline-box;display:inline-block;*display:inline;zoom:1;margin:0;}
.m-post-leftimg .text ul li,
.m-post-leftimg .text ol li,
.m-detail-leftimg .text ul li,
.m-detail-leftimg .text ol li{overflow:hidden;height:27px;line-height:27px;padding-left:2px;}
.m-post-leftimg .text ul li p,
.m-post-leftimg .text ol li p,
.m-detail-leftimg .text ul li p,
.m-detail-leftimg .text ol li p{overflow:hidden;width:90%;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;word-break:keep-all;}
</style>
<![endif]-->
</head>
<body class="p-homepage">
<div class="g-doc box">
	<div class="g-sd">
		<div class="g-sdc box">
			<div class="m-hdimg">
				<a class="hdimg img" href="/">
					<img src="logo.jpg" height="160" />
				</a>
			</div>
			<h1 class="m-ttl">
				<a href="#">echo_rejoice</a>
			</h1>
			<ul class="m-nav">	
					
				
				
				
				
				<li><a href="#">归档</a></li>
				<li><a href="#">RSS</a></li>
				
				<!-- Search -->
				<li class="m-sch">
					<a id="j-lnksch" href="#">搜索</a>
					<form id="j-schform" class="form" method="get" action="/search">
						<input type="text" name="q" class="txt"/>
					</form>
				</li>
			</ul>
			
			<p class="m-about">www.lofter.com</p>
			
			<p class="m-cprt">&copy;&nbsp;<a href="#">echo_rejoice</a>&nbsp;|&nbsp;Powered by <a href="#">LOFTER</a></p> 
		</div>
	</div>
	
	<div class="g-mn">
		<div class="g-mnc box">
			
			<!-- Home page -->
			<div class="m-postlst box">
				
				<div class="m-post  m-post-txt  ">
					<div class="ct">
						<div class="ctc box">
							
							
							
							<h2 class="ttl"><a href="#">LOFTER，从简约中领悟品质的真谛</a></h2>
							<!-- 有缩略图时 -->
							
							<a class="img thumbnail" href="http://loftertxt.lofter.com/post/138d_c6e9d"><img src="1.jpg"/></a>
							
							
							<div class="text"><p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？LOFTER的视觉设计，希望悄悄的留住你的视线，带给你唯一却熟悉的感觉…</p><p><br /></p></div>
							
							
							
							
							
							
						</div>
					</div>
					<div class="info box">
						<a class="date" href="http://loftertxt.lofter.com/post/138d_c6e9d">2012-03-14</a>
						
						<a class="hot" href="http://loftertxt.lofter.com/post/138d_c6e9d">705</a>
					</div>
				</div>
				
				<div class="m-post m-post-img   ">
					<div class="ct">
						<div class="ctc box">
							
							<div class="pic">
								<a class="img" href="http://loftertxt.lofter.com/post/138d_17f33">
									<img src="2.jpg" />
								</a>
							</div>
							
							<div class="text"><p>没有文字，多么孤单</p></div>
							
							
							
							
							
							
							
							
						</div>
					</div>
					<div class="info box">
						<a class="date" href="http://loftertxt.lofter.com/post/138d_17f33">2011-09-21</a>
						
						<a class="hot" href="http://loftertxt.lofter.com/post/138d_17f33">985</a>
					</div>
				</div>
				
				<div class="m-post m-post-img   ">
					<div class="ct">
						<div class="ctc box">
							
							<div class="pic">
								<a class="img" href="http://loftertxt.lofter.com/post/138d_426f">
									<img src="3.jpg" />
								</a>
							</div>
							
							<div class="text">专注，从LOFTER开始</div>
							
							
							
							
							
							
							
							
						</div>
					</div>
					<div class="info box">
						<a class="date" href="http://loftertxt.lofter.com/post/138d_426f">2011-08-25</a>
						
						<a class="hot" href="http://loftertxt.lofter.com/post/138d_426f">272</a>
					</div>
				</div>
				
				<div class="m-post m-post-img   ">
					<div class="ct">
						<div class="ctc box">
							
							<div class="pic">
								<a class="img" href="http://loftertxt.lofter.com/post/138d_2b0d">
									<img src="4.jpg" />
								</a>
							</div>
							
							<div class="text">随性而为</div>
							
							
							
							
							
							
							
							
						</div>
					</div>
					<div class="info box">
						<a class="date" href="http://loftertxt.lofter.com/post/138d_2b0d">2011-08-24</a>
						
						<a class="hot" href="http://loftertxt.lofter.com/post/138d_2b0d">395</a>
					</div>
				</div>
				
				<div class="m-post m-post-img   ">
					<div class="ct">
						<div class="ctc box">
							
							<div class="pic">
								<a class="img" href="http://loftertxt.lofter.com/post/138d_2b0c">
									<img src="5.jpg" />
								</a>
							</div>
							
							<div class="text"><p><strong>LOFTER——专注兴趣，分享创作</strong></p><p>LOFTER是网易2011年8月中旬推出的一款轻博客，并首次采用独立域名LOFTER.COM</p><p>LOFTER一词是LOFT的引申，LOFT的意思是宽广开放的自由创作空间，而在这空间里专注兴趣，分享创作的人，自然就是LOFTER。</p></div>
							
							
							
							
							
							
							
							
						</div>
					</div>
					<div class="info box">
						<a class="date" href="http://loftertxt.lofter.com/post/138d_2b0c">2011-08-24</a>
						
						<a class="hot" href="http://loftertxt.lofter.com/post/138d_2b0c">454</a>
					</div>
				</div>
				
				<div class="m-post m-post-img   ">
					<div class="ct">
						<div class="ctc box">
							
							<div class="pic">
								<a class="img" href="http://loftertxt.lofter.com/post/138d_2b0b">
									<img src="6.jpg" />
								</a>
							</div>
							
							<div class="text">如果不把创作记录下来<p>灵感会是多么的孤独</p></div>
							
							
							
							
							
							
							
							
						</div>
					</div>
					<div class="info box">
						<a class="date" href="http://loftertxt.lofter.com/post/138d_2b0b">2011-08-24</a>
						
						<a class="hot" href="http://loftertxt.lofter.com/post/138d_2b0b">663</a>
					</div>
				</div>
				
				<div class="m-post  m-post-txt  ">
					<div class="ct">
						<div class="ctc box">
							
							
							
							
							<!-- 有缩略图时 -->
							
							
							<div class="text"><p>有这么一些人，喜欢拍点什么，写日志总是想不到标题，拍了一堆相片，不知如何组成一个文章，不知如何或者不想加上一些修饰就发布上来……</p><p>他们生活随&nbsp;意，常常需要在工作台上贴上一些黄色的小纸条来提醒自己杂乱的工作，这时，真的需要一个LOFTER，也来参与一下热闹的互联网，微博你玩不起来，博客想&nbsp;不到主题，不知道如何发布组图也不想发布，你也不知道如何组织文字和整理思路，但是你有一堆的好作品或者一堆好相片，也想在大伙里路过一下，让大伙转过头&nbsp;来注意一下你……</p><p>于是LOFTER遇上了你，你遇上了LOFTER</p></div>
							
							
							
							
							
							
						</div>
					</div>
					<div class="info box">
						<a class="date" href="http://loftertxt.lofter.com/post/138d_2b0a">2011-08-24</a>
						
						<a class="hot" href="http://loftertxt.lofter.com/post/138d_2b0a">212</a>
					</div>
				</div>
				
				<div class="m-post m-post-img   ">
					<div class="ct">
						<div class="ctc box">
							
							<div class="pic">
								<a class="img" href="http://loftertxt.lofter.com/post/138d_2b09">
									<img src="7.jpg" />
								</a>
							</div>
							
							<div class="text"><b>LOFT</b>ER显得非常“文艺”，允许展现微博不允许的个性；比博客更简单，更方便分享和维护——发一张照片就可以是一条像模像样的博客。</div>
							
							
							
							
							
							
							
							
						</div>
					</div>
					<div class="info box">
						<a class="date" href="http://loftertxt.lofter.com/post/138d_2b09">2011-08-24</a>
						
						<a class="hot" href="http://loftertxt.lofter.com/post/138d_2b09">174</a>
					</div>
				</div>
				
				<div class="m-post  m-post-txt  ">
					<div class="ct">
						<div class="ctc box">
							
							
							
							<h2 class="ttl"><a href="#">LOFTER&mdash;&mdash;专注兴趣，分享创作</a></h2>
							<!-- 有缩略图时 -->
							
							
							<div class="text"><p><strong>精致体验：</strong>LOFTER追求精致入微的视觉和交互体验，为每一片内容精心度量，让你的视角所触及的每一个像素，都蕴含独具匠心的精致设计。</p><p><strong>极简易用：</strong>LOFTER在功能方面努力做到简单易用，希望让用户的每一次操作都能简单快捷、随性而为，从而满足目标用户碎片化、高效率的记录需求。</p><p><strong>内容品质：</strong>LOFTER推崇纯粹的内容主义，摒弃一切与内容无关的琐碎和繁杂，并希望通过挖掘和推荐，打造一系列优秀的LOFTERS，激活目标用户的阅读兴趣。</p></div>
							
							
							
							
							
							
						</div>
					</div>
					<div class="info box">
						<a class="date" href="http://loftertxt.lofter.com/post/138d_2b07">2011-08-24</a>
						
						<a class="hot" href="http://loftertxt.lofter.com/post/138d_2b07">82</a>
					</div>
				</div>
				
				<div class="m-post m-post-img   ">
					<div class="ct">
						<div class="ctc box">
							
							<div class="pic">
								<a class="img" href="http://loftertxt.lofter.com/post/138d_2b06">
									<img src="8.jpg" />
								</a>
							</div>
							
							<div class="text"><p>这张是前几天，周6，在回家路上拍的。</p><p>摄影对我而言，本来只是一种爱好，记录一下生活而已，后来我发现它不只是这些，有了摄影这个媒介，我认识了更多的人，与人交流，得到记录以外的更多东西，但是，我又不想让摄影的交流与及得到认可的虚荣心，而只发布大家喜欢的相片，我知道哪些片子能得到上百的热度，我知道怎么运作和经营好自己的帐号，但这也许不是我玩摄影最初的目的，因为这些，跟自己较劲，给自己压力，每天想着如何拍出好片，如何构图和折腾，有时会很乏味，有时会因这些而失去了拍摄的乐趣。</p><p>玩LOFTER，我想在自己接受的范围内，随意点，自由点</p><p>如果有人问：这么烂的片你怎么也发出来？</p><p>我会回答：我只是记录记录生活</p></div>
							
							
							
							
							
							
							
							
						</div>
					</div>
					<div class="info box">
						<a class="date" href="http://loftertxt.lofter.com/post/138d_2b06">2011-08-24</a>
						
						<a class="hot" href="http://loftertxt.lofter.com/post/138d_2b06">604</a>
					</div>
				</div>
					
			</div>
			
			<!-- Pager -->
			
			
			
			
		</div>
	</div>
</div>
<script type="text/javascript" src="js1.js" ></script>
<script type="text/javascript" src="js2.js" ></script>
<script type="text/javascript" src="js3.js" ></script>

</body>
</html>